#atmosphere {
    -fx-background-image: url("/weatherBackgrounds/atmosphere.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#clear {
    -fx-background-image: url("/weatherBackgrounds/clear.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#drizzle {
    -fx-background-image: url("/weatherBackgrounds/drizzle.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#extreme {
    -fx-background-image: url("/weatherBackgrounds/extreme.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#lightning {
    -fx-background-image: url("/weatherBackgrounds/lightning.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#rain {
    -fx-background-image: url("/weatherBackgrounds/rain.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#snow {
    -fx-background-image: url("/weatherBackgrounds/snow.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#sunny {
    -fx-background-image: url("/weatherBackgrounds/sunny.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}